$violet: #442d65;
$violetLight: #775ba3;
$green: #91c5a9;
$yellow: #f8e1b4;
$orange: #f98a5f;
$white: #ffffff;

$font-size-base: 16px;
$input-color: $violet;
$input-border: $violetLight;
$input-border-focus: $violetLight;

$btn-primary-color: $white;
$btn-primary-bg: $orange;
$btn-primary-border: $orange;

$btn-default-color: $white;
$btn-default-bg: $violetLight;
$btn-default-border: $violetLight;

@import "../../../lib/bootstrap-sass/assets/stylesheets/_bootstrap";

// General layout
header {
	background-color: $violet;
	color: $white;
	padding: 2em 0;

	h1 {
		margin: 0;
		a {
			color: $orange;
			&:hover, &:active, &:focus {
				color: $orange;
				text-decoration: underline;
			}
		}
	}

	.description {
		color: $white;
	}
}

.form-control {
	margin-bottom: 0.5em;
}

// Styles for game on view
.puzzle {
	font-size: 3em;
	color: $violet;
	padding: 1em 0;
}

.buttons {
	padding: 1em 0;
}

.stats {
	margin: 3em auto 1em auto;
}

.circle {
	background: $orange;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	color: $white;
	line-height: 2em;
	font-weight: bold;
	font-size: 2.4em;
	position: relative;
	margin: 0.4em auto;

	& + div {
		color: $orange;
		font-weight: bold;
	}
}


// Game over styles
.game-details {
	margin: 1em auto;

	.list-group {
		max-width: 320px;
		position: relative;
		margin: 0 auto;
	}
}

.highscore-form {
	max-width: 320px;
	position: relative;
	margin: 1em auto;
}


// Highscore page styles
.highscore {
	.game-details-trigger {
		display: none;
	}
	.game-details {
		height: 0;
		overflow: hidden;
		transition: padding 0.3s ease-in-out;
		padding: 0;
		clear: both;
		.game-details-trigger:checked + label + & {
			height: auto;
			padding: 2em 0;
		}
	}
	.game-details-trigger:checked + label {
		.glyphicon {
			@extend .glyphicon-minus;
		}
	}
	.game-details-trigger-label {
		float: right;
		line-height: 2em;
		color: $violetLight;
		text-align: center;
		display: block;
		.glyphicon {
			font-size: 2em;
			@extend .glyphicon-plus;
		}
	}
	.user {
		color: $violet;
		font-weight: bold;
		line-height: 2em;
		float: left;
	}
	.total {
		font-size: 2em;
		line-height: 1em;
		text-align: center;
		color: $violet;
		float: left;
		margin-right: 1em;
	}
	.btn-primary {
		margin-top: 2em;
		float: right;
	}
	.list-group {
		margin-top: 1em;
	}

	.list-group .list-group {
		background: $violetLight;
		color: $white;
		.list-group-item {
			background: $violetLight;
			margin: 1px 2em 0 2em;
			border: none;
			padding: 0;
		}
	}
}

// Start page huge button
.btn-huge {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	line-height: 280px;
	position: relative;
	margin: 1em auto;
	font-size: 2em;
	display: block;
}

// Words view styling
.words {
	margin-top: 2em;
	.remove-btn {
		float: right;
	}
}