<div class="start-screen">
	<h1>
		<a href="#/">Game of Words</a>
	</h1>
	<h4>
		Game to play when your code's compiling (npm modules installing, scss building, etc.)
	</h4>
	<div class="container teaser">
		<div class="row">
			<div class="col-xs-4 text-right">
				catfroy?
			</div>
			<div class="col-xs-4 text-center">
				-->
			</div>
			<div class="col-xs-4">
				factory!
			</div>
		</div>
	</div>
	<p>
		The goal is to decifer as many programinng-related terms as possible.
		Time limit is 40 seconds.
	</p>
	<a class="btn btn-primary" href="#/play">
		Ok, bring it on.
	</a>
</div>