<section class="container words">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<ul class="list-group">
				<li ng-repeat="word in words" class="list-group-item">
					{{word.word}}
					<button class="remove-btn" ng-click="words.$remove(word)">Remove</button>
				</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-6">
			<form ng-submit="addWord()">
				<input class="form-control" type="text" ng-model="newWord" />
				<input class="btn btn-primary form-control" type="submit" value="Add word" />
			</form>
		</div>
	</div>
</section>